<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>251152163788-37q308js5ah8nvps53e29f8qosuf744l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.251152163788-37q308js5ah8nvps53e29f8qosuf744l</string>
	<key>API_KEY</key>
	<string>$(API_KEY)</string>
	<key>GCM_SENDER_ID</key>
	<string>251152163788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Rat.Transportation-PLUS</string>
	<key>PROJECT_ID</key>
	<string>transport-2afd7</string>
	<key>STORAGE_BUCKET</key>
	<string>transport-2afd7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:251152163788:ios:6adc21384f4a2884</string>
	<key>DATABASE_URL</key>
	<string>https://transport-2afd7.firebaseio.com</string>
</dict>
</plist>
